_data/projects/
.all-contributorsrc
.devcontainer.json
docker-compose.yml
_includes/
_layouts
.github/
.vscode/
index.html
javascripts/lib/require.js
javascripts/projects.json
stylesheets/
jest.config.js
tsconfig.json