<h1><span class="header-inside">I maintain a project!</span></h1>

<p>
  We're looking for projects who can take the time out to
  help mentor developers as they get started with
  open source.
</p>

<p>What sort of tasks are a good fit?</p>

<ul>
  <li>Tasks should take no longer than a few nights' worth of work</li>
  <li>Tasks should stand alone - avoid core functionality on which other tasks depend</li>
  <li>Tasks should be well described with pointers to help the implementer</li>
</ul>

<p>
  We suggest the label <code>up-for-grabs</code>
  but using a different name is also acceptable.
</p>

<p>If this sounds like you, getting involved is simple:</p>

<ol>
 <li><a href="https://help.github.com/articles/creating-and-editing-labels-for-issues-and-pull-requests/" title="Creating and editing labels for issues and pull requests">Label</a> bugs and feature requests that would be a good place to start</li>
 <li>Grab the URL to this list of tasks so that others can get to it easily</li>
 <li><a href="https://github.com/login">Sign in to GitHub</a> and <a href="https://github.com/up-for-grabs/up-for-grabs.net#list-your-project">check out the README.</a></li>
</ol>
