<h1>
  <span class="header-inside">I want to get involved!</span>
</h1>

<div class="introduction-content">
  <p>
    Up for grabs lists projects found on GitHub with issues that people would like help with. <br>
    This is a great way to find new projects, give back to the community, and learn!.
  </p>

  <span class="notice">
    <b>Note:</b> Most projects will ask you to contribute via a 'Pull Request',
    <a href="https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/" target="_blank" title="How to contribute to gitHub projects guide">learn how to here.</a>
  </span>
</div>
