<h2 class="header-inside">I want to get involved!</h2>
<p>
  This is a list of projects which have curated tasks
  specifically for new contributors. These are a great
  way to get started with a project, or to help share
  the load of working on open source projects.
</p>
<section aria-labelledby="getting-started-heading">
  <h3 id="getting-started-heading">Find a project you'd like to get involved with:</h3>
  <ol role="list">
    <li>Read the contributor guidelines of the project</li>
    <li>Get the project running locally</li>
    <li>Leave a message on a task you'd like to work on</li>
    <li>Get to work!</li>
  </ol>
</section>
