<h1><span class="header-inside">I want to get involved!</span></h1>

<p>
 This is a list of projects which have curated tasks
 specifically for new contributors. These are a great
 way to get started with a project, or to help share
 the load of working on open source projects.
</p>

<p>Find a project you'd like to get involved with:</p>

<ul>
  <li>Read the contributor guidelines of the project</li>
  <li>Get the project running locally</li>
  <li>Leave a message on a task you'd like to work on</li>
  <li>Get to work!</li>
</ul>
