<a id="view-mode-a" title="dark-mode"><img id="view-mode" src="/images/Dim-Night.png"/></a>
<header role="banner">
    <a id="forkme_banner" href="https://github.com/up-for-grabs/up-for-grabs.net">View on GitHub</a>
    <div class="container">
        <a id="go-back-home-a" href="/#/"><img id="go-back-home" src="{{ site.github.url }}/images/logo.png" alt="Up For Grabs"></a>
        <h1 class="ribbon">
            <strong class="ribbon-content">Explore open source projects and jump in!</strong>
        </h1>
    </div>
</header>
