<div id="headerGrid">
  <div id="logo-area">
      <h1>LOGO AREA</h1>
  </div>
  <!-- header & logo area -->
  <div 
  style="
    background-image: url(/images/header\ pattern.png); 
    float: right; 
    background-repeat: repeat; 
    width: 80%; 
    height: 100%; 
    margin-left: 20%;
    background-position-x: 100%;
  " 
  aria-hidden="true">
      <!--
Using a background-image is really the only way to let the image repeat that I know of.
Plus, it makes it easy to put the text there with lower bandwidth consumption, because it isn't directly in the image.
-->
      <h1 
      style="
        font-family: Kanit;
        z-index: 999;
        text-align: center;
        font-size: 2.5em;
        transform: translate(0, 25%);
      " 
      aria-hidden="false">
          EXPLORE OPEN SOURCE 
          <br/><br/>
          PROJECTS AND JUMP IN!
      </h1>
  </div>
</div>

<!-- side navbar -->
<div id="side">
  <!-- filter -->
  <div id="projects-panel-filter">
      {% include noscript.html %}
  </div>
</div>
 