<button id="view-mode-toggle" class="theme-selector" type="button" title="Toggle dark mode" aria-pressed="false">
    <span class="visually-hidden">Toggle dark mode</span>
    <img id="view-mode" alt="" src="/images/Dim-Night.png"/>
</button>

<header role="banner">
    <a id="forkme_banner" href="https://github.com/up-for-grabs/up-for-grabs.net">View on GitHub</a>
    <div class="container">
        <a id="go-back-home-a" href="/#/"><img id="go-back-home" src="{{ site.github.url }}/images/logo.png" alt="Up For Grabs"></a>
        <h1 class="ribbon">
            <strong class="ribbon-content">Explore open source projects and jump in!</strong>
        </h1>
    </div>
</header>
