<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="description"        content="Want to contribute to open source, but not sure where to start? This is a list of projects which have curated tasks specifically for new contributors. These are a great way to get started with a project, or to help share the load of working on open source projects." />
  <meta property="og:url"         content="https://up-for-grabs.net" />
  <meta property="og:title"       content="Up For Grabs" />
  <meta property="og:description" content="Want to contribute to open source, but not sure where to start?" />
  <meta property="og:image"       content="https://up-for-grabs.net/images/logo.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="https://up-for-grabs.net" />
  <meta name="twitter:title" content="Up For Grabs" />
  <meta name="twitter:description" content="Want to contribute to open source, but not sure where to start?" />
  <meta name="twitter:image" content="https://up-for-grabs.net/images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />

  <link rel="canonical" href="https://up-for-grabs.net" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/icons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/icons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ site.github.url }}/icons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ site.github.url }}/icons/favicon-160x160.png" sizes="160x160" />
  <link rel="icon" type="image/png" href="{{ site.github.url }}/icons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ site.github.url }}/icons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ site.github.url }}/icons/favicon-32x32.png" sizes="32x32" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <meta name="msapplication-TileColor" content="#2b5797" />
  <meta name="msapplication-TileImage" content="{{ site.github.url }}/icons/mstile-144x144.png" />

  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ site.github.url }}/stylesheets/stylesheet.css" />

  <title>Up For Grabs</title>
</head>
