<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
  <link rel="stylesheet" media="screen" href="{{ site.github.url }}/stylesheets/stylesheet.css">
  <!-- End CSS -->

  <!-- Banner font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Rubik&display=swap" rel="stylesheet">
  <!-- End banner font -->
</head>
