<script type="text/html" id="projects-panel-filter-template">
  <menu> 
    <div class="filters-panel cf">
      <h4 style="font-weight: 600;">Filters</h4>
      <h5><label for="project">By name</label></h5>
      <select class="names-filter" id="project" multiple data-placeholder="Select a project..." >
        <% _.each(names, function(entry, key){ %>
          <option value="<%-key%>"><%- entry.name%></option>
        <% }) %>
      </select>
    </div>
    <div class="filters-panel cf">
      <h5><label for="label">By label</label></h5>
      <select class="labels-filter" id="label" multiple data-placeholder="Select a label..." >
      <% _.each(labels, function(entry, key){ %>
        <option value="<%-key%>"><%- entry.name%></option>
      <% }) %>
      </select>
    </div>
    <div class="filters-panel cf">
      <h5><label for="tag">By tags</label></h5>
      <select class="tags-filter" id="tag" multiple data-placeholder="Select a tag..." >
      <% _.each(tags, function(entry, key){ %>
        <option value="<%-entry.name%>"><%- entry.name%>  (<%-entry.frequency%>)</option>
      <% }) %>
      </select>
      <h5>Popular tags</h5>
      <ul class="popular-tags">
      <% _.each(popularTags, function(entry, key){ %>
        <li><a rel="nofollow noopener norefererr"><%-entry.name%></a> (<%-entry.frequency%>)</li>
      <% }) %>
      </ul>
    </div>
  </menu>
</script>
<script type="text/html" id="projects-panel-general-template">
  <table class="projects">
    <% _.each(projects, function(project) { %>
      
     <tbody class="<% if ( project.stats ) { %>counted<% } %>">

     <tr>
        <td colspan="2" class="title">
          <div class="tdTopContentWrapper">
            <span class="proj"><a href="<%-project.site %>" target="_blank"><%-project.name %></a></span>
          </div>
        </td>
     </tr>
     <tr class="tdMainContentWrapper">
        <td class="details">
         <p class="label">
           <a href="<%- project.upforgrabs.link %>" rel="noreferrer nofollow noopener" title="View open issues for <%-project.name %>" target="_blank" tabindex="-1">
             <%-project.upforgrabs.name %>
             <% if (project.stats && project.stats['last-updated']) {
                 const now = new Date();
                 let lastUpdated = new Date(project.stats['last-updated']);
                 let since = relativeTime(now, lastUpdated);
               %>
               <span class="count" title="Last updated <%- since %>"><%-project.stats['issue-count']%></span>
               <% } else if (project.stats) { %>
               <span class="count" title="No recent activity"><%-project.stats['issue-count']%></span>
             <% } %>
           </a>
         </p>
        </td>
        <td class="details">
            <% if (project.desc) { %>
            <span class="desc"><%=project.desc%></span>
            <% } %>
            <% if (project.tags) { %>
            <p class="tags">
                <% _.each(project.tags, function(tag, i) { %>
                    <a href="#/filters?tags=<%-encodeURIComponent(tag)%>" tabindex="-1"><%-tag%></a><%- i != project.tags.length-1 ? "," : "" %>
                <% }) %>
            </p>
            <% } %>
        </td>
     </tr>

     </tbody>
    <% }) %>
    </table>
</script>
<script src="{{ site.github.url }}js/lib/require.js" data-main="js/app"></script>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45897756-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<script>
  var r = document.querySelector(":root");

  var rs = getComputedStyle(r);

  let root = document.documentElement;

  var viewModeCondition = true; // light mode

  function view_mode()
  {
    if(viewModeCondition)
    {
      /* Dark mode */
      root.style.setProperty("--body-back","#242424");
      root.style.setProperty("--body-color","#eeeded");
      root.style.setProperty("--abs","#2C2C2C");
      document.getElementById("view-mode").src = "/images/sun-light.png"; // now the user knows that if they click the icon, they'll get it set back to light mode
      document.getElementById("view-mode-a").title = "Light mode";
      viewModeCondition = false; // dark mode now
      
      document.getElementById('logoImg').src = "/images/logo-dark.png"; // for contrast
    }
    else
    {
      /* Light mode */
      root.style.setProperty("--body-back","#f9f9f9")
      root.style.setProperty("--body-color","#303030")
      root.style.setProperty("--abs","#FFF")
      viewModeCondition = true; // it's now on light mode
      document.getElementById("view-mode").src = "/images/Dim-Night.png"; // the user can now tell that if they click this, they get set to dark mode
      document.getElementById("view-mode-a").title = "Dark mode";

      document.getElementById('logoImg').src = "/images/logo.png"; // for contrast
    }
  }

  view_mode()
</script>
