@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

html, body {
  height: 100%; }

body {
  background: #f9f9f9;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0; }
  body, body * {
    -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4, h5, h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

img {
  border: none; }
  
#go-back-home {
  margin: 20px 0 0; }
  #go-back-home:hover {
    background-image: none; }

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #4499cc no-repeat 95% 50%;
  font-weight: 700;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.capitalize {
  text-transform: capitalize; }

.upcase {
  text-transform: uppercase; }

.downcase {
  text-transform: lowercase; }

.hide {
  display: none; }

.a-r {
  text-align: right; }

.a-c {
  text-align: center; }

.small {
  font-size: 11px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.muted {
  color: #8f8f8f; }

.colour-1 {
  color: #cc9944; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #448844; }

.text-big {
  font-size: 24px;
  line-height: 1em; }

ol, ol li {
  padding: 0;
  margin: 0; }

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

blockquote {
  margin: 0;
  font-style: normal !important; }

header {
  text-align: center; }

footer {
  width: 100%;
  max-width: 600px;
  line-height: 2em;
  margin: auto;
  padding-bottom: 30px;
  text-align: center; }
  footer * {
    color: #797979; }

#container {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 750px;
  background: #fff;
  margin: 40px auto 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  #container .block {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 30px 40px 24px; }
    #container .block:first-child, #container .block + .block {
      border-top: 0; }
    #container .block:last-child {
      border-bottom: 0; }
    #container .block a.main {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      padding: 2px 2px;
      margin-right: 12px;
      margin-bottom: 6px; }
      #container .block a.main:last-of-type {
        margin-right: 0; }
    #container .block .button {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      height: 20px;
      overflow: hidden; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  padding: 30px 60px;
  margin: auto; }

a, .as-link {
  text-decoration: none;
  color: #4499cc;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a.main, a:hover, .as-link.main, .as-link:hover {
    color: #4499cc;
    background-image: url(/images/line.png);
    background-repeat: repeat-x;
    background-position: left bottom; }
  a.big-button, .as-link.big-button {
    min-width: 30%;
    border-radius: 3px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-color: #8ab;
    background: #6f8f9f;
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1); }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090; }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1); }
    a.big-button.red, .as-link.big-button.red {
      border-color: #ddacac;
      background: #a65; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #b76; }
    a.big-button.gray, .as-link.big-button.gray {
      border-color: #f4f4f4;
      color: #ffffff;
      background: #565656; }
      a.big-button.gray:hover, .as-link.big-button.gray:hover {
        background: #676767; }
    a.big-button.blue, .as-link.big-button.blue {
      border-color: #ace;
      background: #678; }
      a.big-button.blue:hover, .as-link.big-button.blue:hover {
        background: #789; }
    a.big-button.green, .as-link.big-button.green {
      border-color: #ddeed0;
      background: #696; }
      a.big-button.green:hover, .as-link.big-button.green:hover {
        background: #797; }

a:hover, a:focus {text-decoration: underline;}

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0; }

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none; }
ul.posts li {
  margin-bottom: 20px; }
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 10px;
  text-align: right; }

.highlight {
  margin: 0;
  padding: 0; }

pre {
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

code {
  font-size: 13px;
  color: #eee;
  background: #39382e;
  padding: 2px 4px 3px;
  border-radius: 2px;
  line-height: 1.3em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

img {
  max-width: 100%; }
  img.half {
    width: 50%; }

.signoff {
  margin-top: 30px; }
  .signoff img {
    width: 20px; }

.paging a {
  opacity: 0.25; }
.paging a:hover {
  opacity: 0.7;
  background: none; }
.paging .left, .paging .right {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 60px; }
.paging .left {
  margin-left: -340px; }
.paging .right {
  margin-left: 320px; }

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}
  
#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.projects, .projects td {
  border: 0 none;
}

.projects td.title {
  padding-bottom: 0px;
}

.projects td.details {
  padding-top: 0px;
  word-wrap: break-word;
}

.projects tbody:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.projects tr:last-child {
  border-bottom: 0 none;
}

.projects .proj {
  display: block;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.projects .label {
  background: #4499cc;
  border-radius: 2px;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  white-space: nowrap;
}

.projects .label a {
  color: #FFF;
  display: inline-block;
  padding: 2px 8px;
}

.projects .tags {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}

.projects .label .count {
  background: none white;
  border: 1px solid white;
  border-radius: 8px;
  color: #4499cc;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin: -2px -4px 0 4px;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}

.projects .label .count img {
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 16px;
}

@media (max-width: 768px) {
  body {
    padding: 0 0; } 
  #forkme_banner {
    display: none;
  }
  #container {
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
  table.projects td {
    display: block;
  }
}