<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UFT-8"/>
    <meta name="viewport" content="device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
  </head>  
  <body>       
    <header id="top-page"></header>

    <div id="main-container" class='container'>
      <p>{{ content }}</p>
    </div>

    <footer>
      <a id="back2Top" title="Scroll to top" href="#top-page">&#10148; Jump To Top</a>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
