name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - gh-pages

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build Docker container
        run: docker build .

  javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: npm install, lint, and test
        run: |
          npm ci
          npm run lint
          npm run prettier
          npm test
        env:
          CI: true

  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@bc1dd263b68cb5626dbb55d5c89777d79372c484
        with:
          ruby-version: '3.2'
      - name: Build and test Jekyll site
        run: |
          bundle install
          bundle exec rubocop
          bundle exec jekyll build
          bundle exec ruby scripts/validate_data_files.rb
