name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - gh-pages

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build Docker container
        run: docker build .

  javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: npm install, lint, and test
        run: |
          npm ci
          npm run lint
          npm run prettier
          npm test
        env:
          CI: true

  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 3.0
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.0.x
      - name: Build and test Jekyll site
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rubocop
          bundle exec jekyll build
          bundle exec ruby scripts/validate_data_files.rb
  
  updateForkCount:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9 #install the python needed
      - name: execute py script # run the run.py to get the latest data
        run: |
          pip3 install pyyaml
          pip3 install requests
          python fork_count/updateForkCount.py